# Generera hemligheter med: openssl rand -base64 36 | tr -d '\n'
CMDB_DB_PASSWORD=
AUTHENTIK_DB_PASSWORD=
AUTHENTIK_SECRET_KEY=
# Lösenord för akadmin vid första start
AUTHENTIK_BOOTSTRAP_PASSWORD=
AUTHENTIK_BOOTSTRAP_EMAIL=admin@cmdb.local
AUTHENTIK_TAG=2026.8
